<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Spring Boot Thymeleaf + Spring Security</title>

	<div th:replace="/fragments/header :: header-css"/>

</head>
<body>

<div th:replace="/fragments/header :: header"/>

<div class="container">

	<form th:action="@{/logout}" method="get">
		<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
	</form>

	<div class="panel-group" style="margin-top:40px">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span th:utext="${userName}"></span>
			</div>
			<div class="panel-body">
				<img th:src="@{/images/beer.jpg}" class="img-responsive center-block" width="400" height="400" alt="Beer" />
			</div>
			<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
		</div>
	</div>

</div>
<!-- /.container -->

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>